.main {
    width: 100%;
    position: relative;
}

.header {
    width: 90%;
    margin: 40px auto;
    display: grid;
    place-items: center;
    height: 80vh;
    position: relative;
}

.header .daniel {
    position: absolute;
    right: 150px;
    top: 20px;
}

.header .squigy {
    position: absolute;
    right: 150px;
    bottom: 0px;
    width: 200px;
}

.main .line {
    position: absolute;
    left: 0;
    top: 50%;
}

.main .line2 {
    position: absolute;
    right: 0;
    top: 50%;
}

.header_text {
    font-size: 80px
}

.header_text span {
    color: #4034CD
}

.header_p {
    color: #A3A3A3;
    font-size: 26px;
    margin-top: 30px;
}

.header .arrow {
    position: absolute;
    left: 0;
    bottom: 0;
}


/* .main .line,
.main .line2 {
    display: none;
} */


/* ABOUT ME */

.about {
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
}

.about_heading {
    font-size: 60px;
}

.about_p {
    margin-top: 40px;
    font-size: 26px;
    color: #CFCFCF;
}

.about_stacks {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 40px;
}

.about_stacks div {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.about_stacks div img {
    margin-right: 10px
}

@media screen and (max-width: 1280px) {
    .main .line,
    .main .line2 {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .header .daniel {
        position: absolute;
        right: 150px;
        top: 10px;
    }
    .header_text {
        font-size: 54px;
    }
    .header_p,
    .about_p {
        font-size: 18px;
    }
    .about_heading {
        font-size: 36px;
    }
}

@media screen and (max-width: 640px) {
    .header_text {
        font-size: 36px;
    }
    .header_p {
        font-size: 14px;
    }
    .header .daniel {
        position: absolute;
        right: 0px;
        top: 20px;
    }
    .header .squigy {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 200px;
    }
    .about_stacks {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 40px;
    }
}