.works {
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
}

.works_heading {
    font-size: 60px;
    margin-bottom: 40px;
}

.works_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.works_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 350px;
}

.works_card_details {
    background: #4034CD;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    padding: 0 30px;
}

.works_card_title {
    font-size: 24px;
}

.works_card_desc {
    font-size: 16px;
    margin: 26px 0;
    color: #DBD8F5;
}

.works_card_link {
    padding: 10px;
    background: white;
    color: black;
    width: 100%;
}

.works_card_link a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.works_card_link a img {
    margin-right: 14px;
}

.works_card_link a div {
    color: black;
}

.works_card_img {
    width: 100%;
    height: 100%;
    background-color: white;
}

.works_card_img img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .works_heading {
        font-size: 36px;
    }
    .works_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 60px;
    }
    .works_card {
        display: grid;
        grid-template-columns: 1fr;
        height: max-content;
    }
    .works_card_details {
        padding: 50px 30px;
    }
    .works_card_title {
        font-size: 24px;
    }
    .works_card_desc {
        font-size: 16px;
        margin: 26px 0;
        color: #DBD8F5;
    }
    .works_card_link {
        padding: 10px;
        background: white;
        color: black;
        font-size: 12px;
        width: 100%;
    }
    .works_card_link a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .works_card_link a img {
        margin-right: 14px;
    }
    .works_card_link a div {
        color: black;
        word-break: break-all;
    }
}